{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block styles %}
    {% resource 'montrose/main' %}
    {% resource 'montrose/jqueryui' %}
{% endblock %}

{% block page %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-3 country-logo">
                    <a href="#"><img class="img-responsive" src="img/usedata-country-logo-sample.svg" height="130"
                                     alt="USEDATA logo"></a>
                    <h1 class="sr-only">USEDATA Kenya</h1>
                </div>
                <div class="col-sm-7 col-md-9 language-selector">
                    <ul class="list-inline">
                        <li class="active">
                            <img class="language-flag" src="img/uk-flag-23x17.png" height="17" alt="UK flag">
                            <span class="language-name">En</span>
                        </li>
                        <li>
                            <img class="language-flag" src="img/myanmar-flag-60x40.png" width="21" alt="BUR flag">
                            <a href="#">
                                <span class="language-name">Bur</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <nav class="main-navigation">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

    {%  snippet 'dashboards/snippets/resource_view.html',
                         resource_view=map.map_resource_view,
                         resource=map.map_resource,
                         package=map.map_package %}
    <main class="container">
        <div class="graphs">
            <div class="row">
                <div class="col-md-4 graph-container">
                    <h3 class="graph-title"><a href="{{ charts[0][1].url  }}">{{ charts[0][1].name }}</a></h3>
                    <h4 class="graph-subtitle">(kg)</h4>
                    {% snippet 'dashboards/snippets/resource_view.html',
                         resource_view=charts[0][0],
                         resource=charts[0][1],
                         package=charts[0][2] %}
                   </div>
                <div class="col-md-4 graph-container">
                    <h3 class="graph-title">{{ charts[1][1].name }}</h3>
                    <h4 class="graph-subtitle">(total employed)</h4>
                    {% snippet 'dashboards/snippets/resource_view.html',
                         resource_view=charts[1][0],
                         resource=charts[1][1],
                         package=charts[1][2] %}
                </div>
                <div class="col-md-4 graph-container">
                    <h3 class="graph-title">{{ charts[2][1].name }}</h3>
                    <h4 class="graph-subtitle">(kg)</h4>
                    {% snippet 'dashboards/snippets/resource_view.html',
                         resource_view=charts[2][0],
                         resource=charts[2][1],
                         package=charts[2][2] %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 graph-container">
                    <h3 class="graph-title">{{ charts[3][1].name }}</h3>
                    <h4 class="graph-subtitle">(kg)</h4>
                    {% snippet 'dashboards/snippets/resource_view.html',
                         resource_view=charts[3][0],
                         resource=charts[3][1],
                         package=charts[3][2] %}
                </div>
                <div class="col-md-4 graph-container">
                    <h3 class="graph-title">{{ charts[4][1].name }}</h3>
                    <h4 class="graph-subtitle">(kg)</h4>
                    {% snippet 'dashboards/snippets/resource_view.html',
                         resource_view=charts[4][0],
                         resource=charts[4][1],
                         package=charts[4][2] %}
                </div>
                <div class="col-md-4 graph-container">
                    <h3 class="graph-title">{{ charts[5][1].name }}</h3>
                    <h4 class="graph-subtitle">(kg)</h4>
                    {% snippet 'dashboards/snippets/resource_view.html',
                         resource_view=charts[5][0],
                         resource=charts[5][1],
                         package=charts[5][2] %}
                </div>
            </div>
        </div>
        <div class="new-data">
            <h2 class="data-block-heading">Newly Released Data</h2>
            <div class="data-block">
                {{ h.snippet('dashboards/snippets/show_datasets.html',
                                                                      packages=h.montrose_get_newly_released_data(),
                                                                      datasets_group_name='newdata') }}
            </div>
        </div>

        <div class="all-data">
            {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': [{"value": "groups", "name": "Themes"},
                     {"value": "tags", "name": "Tags"},
                     {"value": "res_format", "name": "Resource Format"},
                     {"value": "license_id", "name": "Licenses"},
                     {"value": "organization", "name": "Organizations"},],
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field } %}
            {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ] %}
            {% snippet 'dashboards/snippets/search_form.html', form_id='dataset-search-form',
                                                           type='dataset',
                                                           query=c.q,
                                                           sorting=sorting,
                                                           sorting_selected=c.sort_by_selected,
                                                           count=c.page.item_count,
                                                           facets=facets,
                                                           show_empty=request.params,
                                                           error=c.query_error, fields=c.fields %}
            <div class="data-block-header">
                <div class="row">
                    <div class="col-md-2">
                        <h3 class="data-block-heading">Filter Data by:</h3>
                    </div>
                    {% for facet in facets.titles %}
                        {{ h.snippet('dashboards/snippets/facet_list.html',
                                                                           title=c.facet_titles[facet],
                                                                           name=facet) }}
                    {% endfor %}
                </div>
            </div>
            <div class="data-block">
                {{ h.snippet('dashboards/snippets/show_datasets.html',
                                                                      packages=c.page.items,
                                                                      datasets_group_name='search') }}
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-4">
                    <ul class="list-unstyled list-footer-nav">
                        <li><a href="#">About USEDATA</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-3">
                    <ul class="list-inline list-social-buttons">
                        <li><a class="btn-animated" href="#"><img src="img/facebook-circle-color.svg" width="50"
                                                                  height="50"
                                                                  alt="Share on Facebook"></a></li>
                        <li><a class="btn-animated" href="#"><img src="img/instagram-circle-color.svg" width="50"
                                                                  height="50" alt="Share on Instagram"></a></li>
                        <li><a class="btn-animated" href="#"><img src="img/twitter-circle-color.svg" width="50"
                                                                  height="50"
                                                                  alt="Tweet"></a></li>
                        <li><a class="btn-animated" href="#"><img src="img/linkedin-circle-color.svg" width="50"
                                                                  height="50"
                                                                  alt="Share on LinkedIn"></a></li>
                    </ul>
                </div>
                <div class="col-md-8 col-lg-5">
                    <ul class="list-inline list-footer-logos">
                        <li><a href="#"><img src="img/ukaid-logo-246x260.png" height="130" alt="UKAID logo"></a></li>
                        <li><a href="#"><img src="img/montrose-logo-720x240.png" height="100" alt="Montrose logo"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright">© USEDATA programme</div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script>
        $(function () {
            // bind change event to select
            $('.montrose-filters').on('change', function () {
                var url = $(this).val(); // get selected value
                if (url) { // require a URL
                    window.location = url; // redirect
                }
                return false;
            });
        });

        function toggleResources(resourceId) {
          $('#' + resourceId).toggleClass('hidden');
        }
    </script>

{% endblock %}