{% ckan_extends %}

{% block subtitle %}{{ _('Countries') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Countries'), controller='organization', action='index' %}</li>
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('organization_create') %}
    {% link_for _('Add Country'), controller='organization', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block page_heading %}{{ _('Countries') }}{% endblock %}