{% ckan_extends %}

{% block breadcrumb_content %}
  <li>{% link_for _('Countries'), controller='organization', action='index' %}</li>
  <li class="active">{% link_for c.group_dict.display_name|truncate(35), controller='organization', action='read', id=c.group_dict.name %}</li>
{% endblock %}

{% block content_action %}
	{{ super() }}
  
  {% if c.group_dict.montrose_dashboard_is_active == '1' or c.group_dict.montrose_dashboard_is_active is undefined %}
    {% if c.group_dict.montrose_secondary_language and c.group_dict.montrose_secondary_language == 'en' %}
      {% set locale = h.montrose_get_secondary_language(c.group_dict.montrose_secondary_dashboard) %}
    {% else %}
      {% set locale = 'en' %}
    {% endif %}

    <a class="btn" href="{% url_for controller='ckanext.montrose.controllers.dashboard:DashboardsController',
                                                                   action='montrose_country_dashboard',
                                                                   locale=locale,
                                                                   name=c.group_dict.name%}" target="_blank"><i class="icon-globe"></i> View dashboard</a>
    {% endif %}
{% endblock %}