<fieldset>
<legend>{{ _('Dashboard colors') }}</legend>

<div class="control-group control-full">
  <label class="control-label" for="montrose_dashboard_base_color">Base color</label>
  <div class="controls ">
    <input id="montrose_dashboard_base_color" name="montrose_dashboard_base_color" class="jscolor"
           value="{{ data.montrose_dashboard_base_color }}">
  </div>
</div>

<div class="control-group control-full">
  <label class="control-label" for="montrose_dashboard_secondary_color">Secondary color</label>
  <div class="controls ">
    <input id="montrose_dashboard_secondary_color" name="montrose_dashboard_secondary_color" class="jscolor"
           value="{{ data.montrose_dashboard_secondary_color }}">
  </div>
</div>

</fieldset>

<fieldset>
<legend>{{ _('Text colors') }}</legend>

<div class="control-group control-full">
  <label class="control-label" for="montrose_main_color">Main color</label>
  <div class="controls ">
    <input id="montrose_main_color" name="montrose_main_color" class="jscolor"
           value="{{ data.montrose_main_color }}">
  </div>
</div>

<div class="control-group control-full">
  <label class="control-label" for="montrose_new_data_color">New data color</label>
  <div class="controls ">
    <input id="montrose_new_data_color" name="montrose_new_data_color" class="jscolor"
           value="{{ data.montrose_new_data_color }}">
  </div>
</div>

<div class="control-group control-full">
  <label class="control-label" for="montrose_all_data_color">All data color</label>
  <div class="controls ">
    <input id="montrose_all_data_color" name="montrose_all_data_color" class="jscolor"
           value="{{ data.montrose_all_data_color }}">
  </div>
</div>

</fieldset>